# ==============================================================================
# TupiLingo Flutter Frontend - Template de Variáveis de Ambiente (.env.example)
# ==============================================================================

SUPABASE_URL=https://vkmjefhyjtyxuhhnbnry.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZrbWplZmh5anR5eHVoaG5ibnJ5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDEyMzgwOTMsImV4cCI6MjA1NjgxNDA5M30.407YV_7t0D44_i622kK_hBsvXg3w30d3y4D3j72z17g
API_URL=http://127.0.0.1:8000
